* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 5vh;
}

.wrap {
    width: 100%;
}

// -----------------------------------------------------------------------------
// 
// Header
// 
// -----------------------------------------------------------------------------
header {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#connect ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 10px;
    }

    li:last-child {
        margin-right: 0;
    }
}

#the-networks {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  z-index: 5;
}

@media only screen and (min-width: 48em) {
  #hero {
    padding: 17vh 50px 50px 50px;
  }
}

// -----------------------------------------------------------------------------
// 
// Hero
// 
// -----------------------------------------------------------------------------
#hero {
  background-color: transparent;
  padding-top: 10vh;
  position: relative;
  z-index: 10;
  
  @include tablet {
    padding-right: 0;
    padding-top: 20vh;
  }
  
  @include desktop {
    padding-right: 40vw;
  }
}

#projects-btn {
    background-color: $asphalt;
    display: none;
    margin-top: 40px;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;
    z-index: 1;

    &:hover {
        //background-color: $blue;
    }
    
    &:before {
        background-color: $blue;
        content: " ";
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
        transform-origin: 0% 100%;
        transition: transform 300ms, opacity 300ms, background-color 300ms;
        width: 150%;
        z-index: -1;
    }
    
    &:hover:before {
        opacity: 1;
        transform: rotate3d(0, 0, 1, 0deg);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
}

@media only screen and (min-width: 48em) {
    #projects-btn {
        display: inline-block;
    }
}

// -----------------------------------------------------------------------------
// 
// Projects
// 
// -----------------------------------------------------------------------------
#projects {
    color: #fff;

    .project {
        background-color: $asphalt;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        transition: background-position 300ms ease-out;
        width: 100vw;
    }

    .project:hover,
    .project.hover {
        background-position: center 35%;
    }

    .project:nth-child(even) {
        background-color: darken($asphalt, 2%);
    }

    .project h3 {
        position: relative;
        margin-bottom: 10px;
        margin-top: 32vh;
    }

    /*
    .project h3:before {
        border-bottom: 3px solid #fff;
        content: " ";
        display: block;
        left: 0;
        opacity: .75;
        position: absolute;
        width: 25px;
        top: -35px;
    }
    */

    .project a {
        color: #fff;
        display: block;
        height: 100%;
    }

    .project a .hover {
        height: 100%;
        opacity: 0;
        padding: 15px;
        transition: opacity 500ms ease;
        width: 100%
    }

    .project a:hover .hover,
    .project.hover a .hover {
        opacity: .95;
    }

    .project ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .project ul li {
        display: inline-block;
        margin-right: 10px;
    }

}

#projects-header {
    background-color: $blue2;
    padding: 1px;

    h2 {
        margin: 100px 0 0 0;
    }
}

#failtowardsuccess {
    background-image: url(images/f2s.png);
    background-position: center 70px;
    background-size: 35vh;

    .hover {
        background-color: #ffca28;
    }
}

#gadgetreview {
    background-image: url(images/gadgetreview.png);
    background-size: 15vh;

    .hover {
        background-color: #e74c3c;
    }
}

#everybodywalk {
    background-image: url(images/everybodywalk.png);

    .hover {
        background-color: #ec048e;
    }
}

#stratalist {
    background-image: url(images/stratalist.png);

    .hover {
        background-color: #007237;
    }
}

#lavarenne {
    background-image: url(images/lavarenne.png);

    .hover {
        background-color: #61bee2;
    }
}

#loadedboards {
    background-image: url(images/loadedboards.png);

    .hover {
        background-color: #ea513c;
    }
}

#medallionmedia {
    background-image: url(images/mm.png);
    background-size: 30vh;

    .hover {
        background-color: #18b2b8;
    }
}

#muradbuzz {
    background-image: url(images/buzz.png);

    .hover {
        background-color: #03a9f4;
    }
}

@media only screen and (min-width: 48em) {
    #projects {
        display: flex;
        flex-wrap: wrap;

        .project {
            height: 50vh;
            width: 50%;
        }

        .project:nth-child(2),
        .project:nth-child(3),
        .project:nth-child(6),
        .project:nth-child(7) {
            background-color: darken($asphalt, 2%);
        }

        .project:nth-child(1),
        .project:nth-child(4),
        .project:nth-child(5),
        .project:nth-child(8) {
            background-color: $asphalt;
        }
    }


}

// -----------------------------------------------------------------------------
// 
// Footer
// 
// -----------------------------------------------------------------------------
footer {
    background-color: #fff;
    height: 350px;
    padding: 15px;

    h4 {
        margin-bottom: -5px;
        margin-top: 21vh;
    }
    
    h5 {
        margin-bottom: 5px;
    }
}

footer .social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
        display: inline-block;
    }
    
    a {
        display: inline-block;
        padding: 8px 10px 5px 10px;
    }
}

@media only screen and (min-width: 1200px) {
    #footer {
        padding: 20px;
    }
}