* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
}

// -----------------------------------------------------------------------------
// 
// Header
// 
// -----------------------------------------------------------------------------
header {
    padding: 15px;
    height: 100vh;
    width: 100%;
}

#logo {
    background: url(images/logo2.png) no-repeat center;
    background-size: 100%;
    height: 100px;
    margin-bottom: -15px;
    width: 100px;

    a {
        display: block;
    }
}

#connect ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 10px;
    }

    li:last-child {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        margin-top: 5vh;
        padding: 50px;
    }
}

// -----------------------------------------------------------------------------
// 
// Hero
// 
// -----------------------------------------------------------------------------
#projects-btn {
    background-color: $asphalt;
    display: none;
    margin-top: 40px;
    padding: 10px 15px;
    position: relative;
    transition: background-color 250ms ease-out;

    &:hover {
        background-color: $blue;
    }
}

@media only screen and (min-width: 1200px) {
    #hero {
        width: 60vw;
    }

    #projects-btn {
        display: inline-block;
    }
}

// -----------------------------------------------------------------------------
// 
// Projects
// 
// -----------------------------------------------------------------------------
#projects {
    color: #fff;

    .project {
        background-color: $asphalt;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        transition: background-position 500ms ease;
        width: 100vw;
    }

    .project:hover,
    .project.hover {
        background-position: center 35%;
    }

    .project:nth-child(even) {
        background-color: darken($asphalt, 2%);
    }

    .project h3 {
        position: relative;
        margin-bottom: 20px;
        margin-top: 50%;
    }

    .project h3:before {
        border-bottom: 3px solid #fff;
        content: " ";
        display: block;
        left: 0;
        opacity: .75;
        position: absolute;
        width: 50px;
        top: -35px;
    }

    .project a {
        color: #fff;
        display: block;
        height: 100%;
    }

    .project a .hover {
        height: 100%;
        opacity: 0;
        padding: 15px;
        transition: opacity 500ms ease;
        width: 100%
    }

    .project a:hover .hover,
    .project.hover a .hover {
        opacity: 1;
    }

    .project ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .project ul li {
        display: inline-block;
        margin-right: 10px;
    }

}

#projects-header {
    background-color: $blue2;
    padding: 1px;

    h2 {
        margin: 100px 0 0 0;
    }
}

#failtowardsuccess {
    background-image: url(images/f2s.png);
    background-position: center 70px;
    background-size: 40%;

    .hover {
        background-color: #ffca28;
    }
}

#gadgetreview {
    background-image: url(images/gadgetreview.png);
    background-size: 25%;

    .hover {
        background-color: #e74c3c;
    }
}

#everybodywalk {
    background-image: url(images/everybodywalk.png);

    .hover {
        background-color: #ec048e;
    }
}

#stratalist {
    background-image: url(images/stratalist.png);

    .hover {
        background-color: #007237;
    }
}

#lavarenne {
    background-image: url(images/lavarenne.png);

    .hover {
        background-color: #61bee2;
    }
}

#loadedboards {
    background-image: url(images/loadedboards.png);

    .hover {
        background-color: #ea513c;
    }
}

#medallionmedia {
    background-image: url(images/mm.png);
    background-size: 35%;

    .hover {
        background-color: #18b2b8;
    }
}

#muradbuzz {
    background-image: url(images/buzz.png);

    .hover {
        background-color: #03a9f4;
    }
}

@media only screen and (min-width: 1200px) {
    #projects {
        display: flex;
        flex-wrap: wrap;

        .project {
            height: 50vh;
            width: 50%;
        }

        .project:nth-child(2),
        .project:nth-child(3),
        .project:nth-child(6),
        .project:nth-child(7) {
            background-color: darken($asphalt, 2%);
        }

        .project:nth-child(1),
        .project:nth-child(4),
        .project:nth-child(5),
        .project:nth-child(8) {
            background-color: $asphalt;
        }
    }


}

// -----------------------------------------------------------------------------
// 
// Footer
// 
// -----------------------------------------------------------------------------
footer {
    background-color: darken($asphalt, 3%);
    height: 350px;
    padding: 15px;

    h4 {
        margin-bottom: -5px;
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    #footer {
        padding: 20px;
    }
}