:root {
  --font-base: "IBM Plex Sans", sans-serif;
  --color-indigo: #071022;
  --color-navy-01: #C9D2E6;
  --color-navy-02: #A9C1F4;
  --color-navy-03: #657698;
  --color-navy-04: #0F2145;
  --color-smoke: #131D2F;
  --color-green: #4BD15A;
  --color-white: #FFF;
}

body {
  background-color: var(--color-indigo);
  color: var(--color-navy-02);
  align-items: center;
  display: flex;
  justify-content: center;
  font: 400 22px/1.5 var(--font-base);
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding: 0 25px;
}

main {
  position: relative;
  z-index: 1;
}

h1 {
  color: var(--color-white);
  font-size: 3.125rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.25;
  margin: 15px 0 30px;
}

h2 {
  color: var(--color-navy-03);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 45px;
}

a {
  color: var(--color-green);
  font-size: 1.5rem;
  padding-bottom: 3px;
  position: relative;
  text-decoration: none;
}

a:after {
  bottom: 0;
  background: var(--color-green);
  content: " ";
  display: block;
  height: 2px;
  position: absolute;
  transition: .2s width ease-out;
  width: 0;
}

a:hover:after {
  display: block;
  width: 100%;
}

/* Grid background */
.grid {
  display: flex;
  position: absolute;
  z-index: 0;
}

.col {
  border-right: 1px solid var(--color-smoke);
  min-height: 100vh;
  width: 127px;
}

.col:nth-child(4),
.col:nth-child(5),
.col:nth-child(6) {
  display: none;
}

@media (min-width: 1024px) {
  main {
    max-width: 55%;
  }

  h1 {
    font-size: 4.25rem;
  }

  h2, a {
    font-size: 1.45rem;
  }

  .col {
    width: 325px;
  }

  .col:nth-child(4),
  .col:nth-child(5),
  .col:nth-child(6) {
    display: block;
  }
}
